body {
  height: 100vh;
  font-family: 'Roboto';
  margin: 5px;
}

.navbar {
  width: 100%;
  background-color: #355446;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 24px;
  margin-bottom: 2%;
}
#reports-container {
  display: none;
  grid-template-columns: 19% 19% 19% 19% 19%;
  justify-content: center;
}

@media only screen and (max-width: 900px) {
  #reports-container {
    display: none;
    grid-template-columns: 24% 24% 24% 24%;
    justify-content: center;
  }
}
@media only screen and (max-width: 650px) {
  #reports-container {
    display: none;
    grid-template-columns: 32% 32% 32%;
    justify-content: center;
  }
}
@media only screen and (max-width: 480px) {
  #reports-container {
    display: none;
    grid-template-columns: 48% 48%;
    justify-content: center;
  }
}
@media only screen and (max-width: 300px) {
  #reports-container {
    display: none;
    grid-template-columns: 96%;
    justify-content: center;
  }
}

.hide {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}
.this-will-not-be-read {
   display: none !important;
}
